@import "tailwindcss";


@font-face {
  font-family: "Vercetti";
  src: url("/fonts/Vercetti-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-vercetti: "Vercetti", sans-serif;
}

@layer utilities {
  .font-vercetti {
    font-family: "Vercetti", sans-serif;
  }
}

:root {
  width: 100%;
   min-height: 100vh;
  --text-color: #000000;
  font-family: "Vercetti", sans-serif;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(120vw);
  }
}

@keyframes draw-branch {
  from {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
  }
  to {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
  }
}


@keyframes pulse-size {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
}
